.alert {
    width: 650px;
    height: 76px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 20px;
    line-height: 29.9px;
    font-family: "Kanit", sans-serif;
    display: flex;
    align-items: center;
    padding: 26px 20px;
    gap: 20px;
    box-sizing: border-box;
}

.alert > p {
    margin: 0;
    padding: 0;
}

.alert-error {
    background-color: rgba(249, 200, 200, 1);
}

.alert-warning {
    background-color: rgba(249, 217, 200, 1);
}

.alert-info {
    background-color: rgba(249, 235, 200, 1);
}

.alert-success {
    background-color: rgba(206, 247, 205, 1);
}